.idea/
db/*.db
log/*.log
log/exception/*.log
log/rotate/*.*
bin/result/*.json
bin/result/*.tsv
bin/result/*.txt
dist/
import/get_messages/*/*
import/get_messages/*.json
export/mpim/*.xlsx
export/im/*.xlsx
export/public_channel/*.xlsx
export/private_channel/*.xlsx
bin/static/icon/*.jpg
*__pycache__*
!.gitkeep