.idea/
db/*.db
log/*.log
log/exception/*.log
log/rotate/*.*
bin/result/*.json
bin/result/*.tsv
bin/result/*.txt
conf/search/search_user_list.xlsx
conf/search/search_public_channel_list.xlsx
conf/search/search_private_channel_list.xlsx
conf/search/search_im_channel_list.xlsx
export/im/*.xlsx
export/public/*.xlsx
export/private/*.xlsx
bin/data/*.xlsx
bin/static/icon/*.jpg
*__pycache__*
!.gitkeep