th {
	color: #FFFFFF;
	background-color: #ff69b4;
	padding: 5px 10px;
}
td {
  padding: 5px 10px;
}

.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  max-width: 100%; /* 必要に応じて制限 */
}

.checkbox-item {
  width: 19%; /* 100% ÷ 5 = 20%、少し余裕持たせる */
  box-sizing: border-box;
}

.checkbox-label {
  display: inline-block;
  width: 250px;
}